@import '~bootstrap/scss/bootstrap';

body{
  align-items: center;
}
.container {
  height: 350px;
  width: 350px;
}

.row {
  height: 50px;
  width: 350px;
}

.col-4 {
  border: 1px solid;
  width: 100px;
}


h1 {
  color: #FF99FF;
  font-style: italic;
  text-align: center;
  }
