@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
}

.container {
  height: 350px;
  width: 350px;
}

.row {
  height: 50px;
  width: 350px;
}

.col-4 {
  border: 1px solid;
  text-align: center;
  width: 100px;
}


h1 {
  color: #f7d2ec;
  font-family: fantasy, serif;
  font-weight: bold;
  text-align: center;
  }

#sign-up, #sign-in, #sign-out, #change-password, .button {
  display: flex;
  justify-content: center;
  border: 20px;
  font-size: 10px;
  font-weight: bold;
  margin: 2px;
}
